@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Open+Sans:wght@400;600;700;800&display=swap");
$font-primary: "Montserrat", sans-serif;
$font-secondary: "Open Sans", sans-serif;

$color-neutral: #ececec;

$color-primary: #7611ac;
$color-primary-transparent: rgba(118, 17, 172, 0.19);

$color-secondary: #2d3032;
$color-secondary-semi-transparent: rgba(45, 48, 50, 0.88);
$color-secondary-transparent: rgba(45, 48, 50, 0.62);
