@import "./variables";

.navbar {
  width: 100vw;
  height: 8vh;
  background-color: $color-neutral;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 4px 37px -14px $color-secondary;
  font-family: $font-primary;
  font-weight: 700;
  z-index: 1000;
}

.logo-container {
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
  .logo {
    max-width: auto;
    max-height: 90%;
  }
}

.navbar-links {
  height: 100%;
  display: flex;
  align-items: center;
  ul {
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    li {
      height: 100%;
      display: flex;
      align-items: center;
      margin: 0 2rem;
      a {
        text-decoration: none;
        color: $color-secondary;

        font-size: 1.2rem;
      }
      a:hover {
        color: $color-primary;
      }
      .resume-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid $color-primary;
        width: 130px;
        height: 50px;
        border-radius: 7px;
        color: $color-primary;
      }
      .resume-btn:hover {
        background-color: $color-primary-transparent;
      }
    }
  }
}

.toggle-navbar {
  height: 100%;
  display: none;
  align-items: center;
  position: absolute;
  right: 35px;
  .bar,
  .bar::before,
  .bar::after {
    display: block;
    width: 2rem;
    height: 3px;
    background-color: $color-secondary;
    border-radius: 2px;
    position: relative;
    transition: all 0.5s ease-in-out;
  }
  .bar::before,
  .bar::after {
    content: "";
    position: absolute;
  }
  .bar::before {
    bottom: 7px;
  }
  .bar::after {
    top: 7px;
  }
  &.active {
    .bar {
      transform: translateX(-32px);
      background: transparent;
    }
    .bar::before {
      transform: translate(32px, 9px) rotate(45deg);
    }
    .bar::after {
      transform: translate(32px, -5px) rotate(-45deg);
    }
  }
}

@media (max-width: 750px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-links {
    display: flex;
    transform: scaleY(0);
    transform-origin: top;
    height: fit-content;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: $color-neutral;
    box-shadow: 0px 5px 15px -2px $color-secondary;
    transition: all 0.4s ease-in-out;
    ul {
      margin: 0;
      margin-bottom: 10px;
      padding: 0;
      width: 100%;
      flex-direction: column;
      align-items: center;
      li {
        justify-content: center;
        height: 3rem;
        a {
          opacity: 0;
          transition: opacity 0.15s ease-in-out;
        }
      }
    }
    &.active {
      transform: scaleY(1);
      transform-origin: top;
      ul li a {
        opacity: 1;
        transition: opacity 0.25s ease-in-out 0.3s;
      }
    }
  }
  .toggle-navbar {
    display: flex;
  }
}
