@import "../styles/variables";

#Skills {
  min-height: 100vh;
  display: flex;
  background-color: $color-neutral;
  padding: 1.5rem;
}

#Skills .content {
  width: Max(50rem, 50%);
  margin: 0;
  margin-left: 3vw;
  margin-top: 4vh;
  line-height: 0;
  overflow-wrap: break-word;
  & > p {
    font-family: $font-primary;
    font-size: 2.2rem;
    font-weight: 700;
    color: $color-primary;
    margin-bottom: 1rem;
  }
  hr {
    width: 54%;
    border: 1px solid $color-primary-transparent;
  }
  .languages {
    margin-top: 5rem;
    & > p {
      color: $color-secondary;
      font-family: $font-primary;
      font-weight: 600;
      font-size: 1.5rem;
    }
    .language-logos {
      display: grid;
      grid-template-columns: repeat(auto-fit, MinMax(14rem, 1fr));
      row-gap: 4rem;
      margin-top: 3rem;
    }
  }
  .libraries {
    margin-top: 2rem;
    & > p {
      color: $color-secondary;
      font-family: $font-primary;
      font-weight: 600;
      font-size: 1.5rem;
    }
    .libraries-logos {
      display: grid;
      grid-template-columns: repeat(auto-fit, MinMax(14rem, 1fr));
      row-gap: 4rem;
      margin-top: 3rem;
    }
  }
  .skill-logo {
    height: 4rem;
  }
}

@media (max-width: 530px) {
  #Skills .content {
    line-height: 1.5rem;
    & > p {
      font-size: 1.4rem;
    }
    hr {
      width: 18rem;
    }
    .languages {
      margin-top: 2rem;
      & > p {
        font-size: 1rem;
      }
      .language-logos {
        grid-template-columns: repeat(auto-fit, MinMax(8rem, 1fr));
        row-gap: 3rem;
      }
    }
    .libraries {
      & > p {
        font-size: 1rem;
      }
      .libraries-logos {
        grid-template-columns: repeat(auto-fit, MinMax(8rem, 1fr));
        row-gap: 3rem;
      }
    }
    .skill-logo {
      height: 40px;
    }
  }
}
